/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 body{
	  	font-family: 'Poppins', sans-serif;
	  }

*,focus{
  outline: none;
}
a:focus {
    outline:none !important;
    }

.ace_style-16::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top,
                        #e4f5fc 0%,
                        #bfe8f9 50%,
                        #9fd8ef 51%,
                        #2ab0ed 100%);
}

.ace_what_widget_outer {
		background: #2db742;
		margin-top: 40px;
		padding: 0px 0px 3px;
		display: flex;
		width: 314px;
		height: 68px;
		margin-left: 58px;
		border-radius: 10px;

    font-family: 'Poppins', sans-serif;
		text-decoration: none !important;
        transition: .4s ease all;
    -webkit-transition: .4s ease all;
    -moz-transition: .4s ease all;



}
.ace_image_outer {
      border-style: solid;
    border-width: 3px;
    border-color: rgb( 255, 255, 255 );
    border-radius: 50%;
/*    background-color: rgb( 9, 219, 9 );
*/    box-shadow: 0.5px 0.866px 13px 4px rgb( 130, 130, 130 );
    width: 65px;
    height: 65px;
    overflow: hidden;
    position: relative;
    bottom: 12px;
    right: 13px;

}
.acw_suser.awc_offline h4 span {
    background: #c0c5ca;
}
.ace_widget_content_ h4 {
    font-weight: normal;
    color: #fff;
    margin: 12px 0 5px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    



}
.ace_widget_content_ h4 span {
       background: #45d05a;
    border-radius: 21px;
    padding: 1px 13px;
    font-size: 12.6px;
    margin-left: 17px;
    font-family: 'Poppins', sans-serif;
    



}
.acw_suser .ace_widget_content_ p {
    margin: 1px 0;
    line-height: 19px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    



}
.ace_widget_user_image img.whats_app_icon {
    position: absolute;
    top: 0;
    right: 3px;
}
.ace_widget_user_image {
    position: relative;
}

	.awc_sMember a{
		font-family: 'Poppins', sans-serif;
		outline: none;
	}
	.ace-whatsapp-style {
		border: none;
	    display: inline-block;
	    -webkit-transition-duration: 0.5s;
	    transition-duration: 0.5s;
	    cursor: pointer;
	    position: fixed;
	    text-align: center;
	    padding: 10px;
	    margin: 0 auto 0 auto;
	    width: 51px;
	    white-space: nowrap;
	    overflow: hidden;
	    z-index: 99999;
	    font-size: 19px;
	    text-decoration: none;
	    font-weight: 300;
	}

	.ace-whatsapp-style2:hover,.ace-whatsapp-style2:focus {
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
		width:230px;
		text-decoration: none;
	}

    .ace_whats_app_content {
      margin-left: 19px;
    }
    .ace_whats_app_content2 {
      margin-left: 19px;
      font-size: 18px;
    }

    .ace-whatsapp-style i.fab.fa-whatsapp {
	    font-size: 25px;
	    position: relative;
	    left: 3px;
	    text-decoration: none;
   }

    .ace-whatsapp-style i.fab.fa-whatsapp2 {
	    font-size: 25px;
	    position: relative;
	    left: 6px;
	    text-decoration: none;
	    top: 3px;
   }

   /* Style Multi user */
        .awc_mBox ,
        .awc_closeChat{
          z-index: 9999;
          cursor: pointer;
          border-radius: 50%;
          position: fixed;
          right: 20px;
          bottom: 20px;
          /*color: #fff;
          background: #25D366;*/
          height: 56px;
          width: 56px;
          font-size: 13px;
          box-shadow: 0 5px 5px rgba(126, 111, 111, 0.39);
          -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
          transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
        }
        .awc_closeChat{ z-index: 4 }
        .awc_mBox.awc_active {
            cursor: default;
            background: #FFF;
            border-radius: .125em;
            width: 300px;
            height: 355px;
            box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.35);
            bottom: 100px;
            right: 20px;
        }
        .awc_mBox.awc_active > i{
            display: none;
        }
        .awc_mBox-icon {
          position: absolute;
          display: block;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-12px, -12px);
          -ms-transform: translate(-12px, -12px);
          transform: translate(-12px, -12px);
          line-height: 24px;
          width: 24px;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        .awc_mContent {
  		    height: 272px;
  		}
        .awc_active .awc_mContent, .awc_active a{
            visibility: visible;
            color: #151515;
        }
        .awc_mStatus {
            text-transform: capitalize;
            font-size: 11px;
            color: #5d5d5d;
        }
        .awc_mImg {
            float: left;
            vertical-align: middle;
            display: flex;
            width: 21%;
            position: relative;
        }
        .awc_mData {
            float: left;
            padding: 0 15px 0 20px;
            box-sizing: border-box;
            width: 79%;
            position: relative;
            color: #151515;
            font-size: 13px;
        }
        .awc_mImg img {
            width: 60px;
            border-radius: 100%;
            max-height: 60px;
        }
        .awc_tagLine {
            display: none;
            background: rgba(37,211,101,1);
            color: #fff;
            padding: 20px;
            border-radius: 4px 4px 0 0;
            font-size: 19px;
            font-family: Roboto;
        }
        .awc_tagLine i{
            font-size: 35px;
        }
        .awc_tagLine span {
            position: relative;
            top: -7px;
            margin-left: 15px;
        }
        .awc_active .awc_tagLine{
            display: block;
        }
        .awc_mImg::after {
            height: 10px;
            width: 10px;
            background: #25D366;
            content: "";
            border-radius: 100%;
            position: absolute;
            right: 0;
            border: 2px solid #25D366;
        }
        .awc_clear{clear: both;}
        .awc_sMember {
            margin-bottom: 15px;
            border-radius: 5px;
            padding: 9px;
            background: #f8f8f8;
            box-shadow: 1px 1px 1px 1px #e4e0e0;
        }
        
        .awc_sMember .awc_wIco {
            position: absolute;
            right: 0;
            top: 12px;
            font-size: 24px;
        }  
        .awc_sMember:hover{
            background: #fff;
        }
        .awc_sMember:last-child{
            margin-bottom: 0px;
        }
        .awc_sMember p{
            margin: 0px;
            font-family: Roboto;
        }
        .awc_sMember .awc_mOnlinetime {
            font-size: 10px;
            margin-top: 5px;
            color: #e63f1b;
        }
        .awc_sMember .awc_mTitle {
            margin-top: 2px;
            margin-bottom: 0px;
            color: #151515;
            font-size: 15px;
        }
        .awc_mBox > i ,
        .awc_closeChat > i{
            position: relative;
            left: 17px;
            top: 15px;
            font-size: 26px;
            color: #fff;
        }
       .awc_sMember.awc_online .awc_wIco{ color: #25D366; }
       .awc_sMember.awc_offline .awc_mImg::after{ background: #fff; }
       .awc_sMember.awc_offline i{ color: #a19c9c; }
       .awc_sMember.awc_offline{ border-color: #a19c9c; }
       .awc_active .awc_sTag {
            margin-left: 32px;
            color: #fff;
            width: 100%;
            font-size: 13px;
        }


.awc_mContent::-webkit-scrollbar,.awc_mContent::-moz-scrollbar-track {   /*-webkit-box-shadow: inset 0 0 6px
rgba(0,0,0,0.3); */  border-radius: 2px;   background-color: #F5F5F5;   width:
4px

}

.awc_mContent::-webkit-scrollbar,.awc_mContent::-webkit-scrollbar,.awc_mContent::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}

.awc_mContent::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb
{
  border-radius: 10px;
/*  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
*/  width: 3px;
  height: 3px;
  background-color: #f8f8f8;
}

a.ace_what_widget_outer:hover,
a.ace_what_widget_outer:focus{
    box-shadow: 0 4px 8px 1px rgba(32,32,37,.19);
    transform: translate(0,-3px);
    -webkit-transform: translate(0,-3px);
    -moz-transform: translate(0,-3px);
    -ms-transform: translate(0,-3px);
    background: #23a737 !important;
}

/* Cnew popup */
#chatPage .chat_button{
  position: fixed;
  bottom: 0px;
  right: -20px;
  margin: 30px 40px;
  height: 80px;
  width: 80px;
  text-align:center;
  background-color: #Eff;
  border-radius: 100px;
  border: none;
  font-size: 30px;
  color: #25D366;
  cursor: pointer;
  transition: .5s ease-in-out;
  padding: 10px;
  box-shadow: 0 5px 5px rgba(126, 111, 111, 0.39);
}
#chatPage .chat_button:hover {
  background-color: #25D366;
  color: #eff;
}
#chatPage .chat_button:hover,
#chatPage .chat_button:focus,
#chatPage .chat_button:active {
  outline: none !important;
}

.chat_box {
  max-height: 100%;
  max-width: 100%;
  height: 500px;
  width: 350px;
  background-color: #1b3f3f;
  position: fixed;
  bottom: 100px;
  right: 100px;
  display: none;
  z-index: -1;
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.45);
  z-index: 99999;
}
.chat_box_header {
    padding: 20px;
    background: #25D366;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.25rem;

}
.chat_box_body {

    padding: 16px;
    height: 420px;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;

}
.chat_box_body_self {
  padding: 16px 15px;
  float: right;
  border-radius: 25px;
  margin-right: 10px;
  background: #5a5eb9;
  color: white;
  margin: 10px 0;
  clear: both;
  max-width: 75%;
}
.chat_box_body_other {
  background: whitesmoke;
  padding: 16px 15px;
  color: #666;
  max-width: 75%;
  float: left;
  margin-left: 10px;
  margin: 10px 0;
  position: relative;
  margin-bottom: 20px;
  border-radius: 25px;
  clear: both;
}
.chat_box_body::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}
.chat_box_body::-webkit-scrollbar-thumb {
  background-color: #77e;
}

.newToggle {
  display: block;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.brand {
  text-align: center !important;
  margin-top: 25px;
}
.brand a {
  color: white;
  text-decoration: none;
}
.awc_mBox, .chat_box_header {
    background: #56ad75eb!important;
  }